{% extends 'base.html.twig' %}

{% block title %}Mes informations{% endblock %}

{% block body %}

    <h1 class="title text-center">Mes données personnelles</h1>

    <div class="col">
        <div class="row"><span class="font-weight-bold mr-1">Nom : </span> {{ utilisateur.prenom }}</div>
        <div class="row"><span class="font-weight-bold mr-1">Prénom : </span> {{ utilisateur.nom }}</div>
        <div class="row"><span class="font-weight-bold mr-1">Adresse email : </span> {{ utilisateur.email }}</div>
    </div>

{% endblock %}
