:root {
  --secondary: #578f89;
  --secondary-darker: #346661;
}

/*todo clas animation avec les transitions*/

/*pour afficher la clé d'accès*/

.code {
  font-family: "Fira Code", serif;
  font-size: 1.2rem;
}

/*icone de copie*/

#copy {
  font-size: 1.4rem;
  cursor: pointer;
}

/*numéro de la question*/

.questionNum {
  font-size: 6rem;
  font-family: Consolas;
}

/*là où on écrit la question*/

textarea {
  resize: none;
  font-family: "Roboto Medium", sans-serif;
}

input {
  border: none;
  border-radius: 2px;
  height: 40px;
  margin: auto 0;
}

/*textarea des reponses*/

.reponse textarea {
  border: none;
  border-radius: 2px;
  width: 100%;
  padding: 7px 10px;
}

/*input des nb de points*/

input[type="number"] {
  width: 60px;
  text-align: center;
  font-family: "Roboto Medium", sans-serif;
}

/*bouton ajout (question et reponse)*/

.addButton {
  font-size: 1.8rem;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s ease-out;
}

.addButton:hover {
  opacity: 1;
  transition: 0.2s ease-in;
}

/*icone de chargement*/

.loading {
  font-size: 2.5rem;
  margin: 30px 0;
  color: var(--secondary);
}

/*icone aleatoire pour le nombre de points par question*/

.random {
  font-size: 1.5rem;
  margin: auto 0;
  color: var(--secondary);
  cursor: pointer;
  transition: 0.2s ease-out;
}

.random:hover {
  color: var(--secondary-darker);
  transition: 0.2s ease-in;
}

/*bloc reponse (textarea et bouton delete ci-dessous*/

.reponse {
  position: relative;
}

/*icone pour enlever une réponse ou vider le champ*/

.delete {
  position: absolute;
  right: -32px;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 15px;
  cursor: pointer;
  color: var(--secondary);
  transition: 0.2s ease-out;
}

.delete:hover {
  color: var(--secondary-darker);
  transition: 0.2s ease-in;
}

/*couleur des mauvaises reponses*/

.reponses textarea {
  background-color: rgba(215, 103, 94, 0.2) !important;
}

/*couleur des bonnes reponses*/

.reponses .reponse:first-child textarea {
  background-color: rgba(130, 215, 94, 0.2) !important;
}

button:disabled {
  cursor: not-allowed;
}