{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<h1 class="title text-center mt-3">Bienvenue sur Quizie !</h1>
	créer un quiz maintenant bouton
{% endblock %}
